# PUBLIC VARIABLES (Safe to expose to the browser)
# Esta URL apunta a tu proyecto de Supabase
NEXT_PUBLIC_SUPABASE_URL=https://<TU-PROYECTO>.supabase.co

# Esta clave (anon key) es segura y es usada por Next.js y Flutter para lectura de datos públicos
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGc...

# PRIVATE VARIABLES (NEVER share these in public repositories or client code)
# Usada únicamente desde scripts del backend (como load-stops.js) para saltarse las reglas de RLS al cargar información base
SUPABASE_SERVICE_ROLE_KEY=eyJhbGc...
